<!DOCTYPE html>
<html>
  <head>
    <title>MyShop</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAB/oABBvwgDU1NQAMFhcAAgEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVVVVVUABVVVVVVVVVRFVVVVVVVVAAAAAAAAAAAAAREREREREQABERERERERFEEREREREREAAAAAAAAAAAACIiIiIiIiAAIiIiIiIiIkQiIiIiIiIgAAAAAAAAAAAAMzMzMzMzMAAzMzMzMzMzRDMzMzMzMzAAAAAAAAAAAAAABwAAAAAAAAAHAAD//wAAAAcAAAAAAAAABwAA//8AAAAHAAAAAAAAAAcAAP//AAAABwAAAAAAAAAHAAD//wAA" rel="icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta property="og:title" content="MyShop"/>
    <meta property="og:url" content="https://myshoeshop.herokuapp.com/#/" />
    <meta property="og:type" content="website" />
    <meta property='og:image' content="<%= image_url('shop.png') %>"/>
    <meta property="og:description" content="An online shop store"/>
    <script type="text/javascript">
      window.img1="<%= image_url('logo.png')%>"
      window.angelist ="<%= image_url('angelist.png')%>"
      window.github ="<%= image_url('github-logo.png')%>"
      window.linkedin ="<%= image_url('linkedin.png')%>"
      window.profile ="<%= image_url('profile.png')%>"
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
